<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <style>
            
        </style>
       <label for="freeform">Whats on your Mind?</label>
       <div class="post-box">
        <form action="/posts" method="POST">
             Name: <input type="text" name="name" placeholder="No Real Name">
             Text: <textarea id="freeform" name="text" rows="4" cols="35"></textarea>

            <h2 class="disclaimer">TIP: Do Not Use Your Real Name.</h2>

            <input type="submit" value="POST">
        </form>
      
       </div>
       
       <button><a href="/posts">CANCEL</a></button>
        
    </body>
</html>