<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <style>
             @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,200&display=swap');
             @import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');

            body{
                
                margin:0;
            }

             .nav{
                overflow: hidden;
                background-color: black;
                color:white;
                box-shadow: 0 2px 4px 0 black;
                
             }
             .nav-logo{
                margin:1rem;
                font-family: 'Stick No Bills', sans-serif;
                font-size: 30px;
             }
             
             .container{
                background-color: bisque;
                display: inline-block;
                display: grid;
                justify-content: center;
             }

             .post-box{
                
                display:grid;
                justify-content: center;
             }
             h2{
                display: grid;
                justify-content: center;
                font-family: 'Exo 2', sans-serif;
             }
             .form-cont{
                display:flex;
                flex-direction: column;
             }
             

        </style>

        <nav class="nav">
            <h1 class="nav-logo">No Filta</h1>
           
        </nav> 
    <div class="container">
       <h2>Whats on your Mind?</h2>
       <div class="post-box">
        <form action="/posts" method="POST">
             Name: <input class="form-cont" type="text" name="name" placeholder="No Real Name">
             Text: <textarea class="form-cont" id="freeform" name="text" rows="4" cols="35"></textarea>
            Img: <input type="text" name="img" placeholder="Paste in image address"/>
            <h2 class="disclaimer">TIP: Do Not Use Your Real Name.</h2>

            <input type="submit" value="POST">
        </form>
      
        </div>
       
       <button><a href="/posts">CANCEL</a></button>
    </div>
    </body>
</html>